---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <section class="container list">
        <h1 class="title">About Me</h1>
        <h2>I'm constantly working on....   something</h2>
        <p>Right now I'm updating my blog</p>
        <p>... and my farmstand.</p>
    </section>
</BaseLayout>
