---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <section class="container list">
        <h1 class="title">About Me</h1>
        <h2>I'm spargonaut</h2>
        <p>I'm a polyglot software engineer.</p>
        <p>I've been playing with, and working with computers since the late 1990s.</p>
        <p>I've been running networks and building servers since the early 2000s.</p>
        <p>I've been writing software professionally since 2010.</p>
        <p>I've been working remotely part-time since 2012.</p>
        <p>I've been working remotely full-time since 2018.</p>
        <p>I've been working on a lot of different projects.</p>
        <p>I've been doing ths for a while.</p>
        <br />
        <p>I’m currently working on an application to track data on my Hydroponic Farmstand</p>
        <p>I’m currently learning VueJS along with trying out how to make the most from adding LLMs into my workflow.</p>
        <br />
        <p>I’m always looking for someone to collaborate with on my CLI tool <a href="https://github.com/the-lazy-devs/custom_commands">custom_commands</a></p>
        <p>Its a tool used to create shortcuts from long, cumbersome commands, and easily share them across multiple machines.</p>
        <br />
        <p>Ask me about whatever is on your mind. :)</p>
        <br />
        <p>Fun fact: The past few years I've been getting into Indoor Hydroponic Gardening and really enjoying it!</p>
        <br />
        <p>My public github profile <a href="https://github.com/spargonaut">here.</a></p>
        <p>My public gitlab profile <a href="https://gitlab.com/Spargonaut">here.</a></p>
        <p>My activity graphs might look sparse because I usually create a separate profile when working for my employer.</p>
        <p>I also keep a lot of my work on my private git servers.</p>
    </section>
</BaseLayout>
