---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const allPosts = Object.values(import.meta.glob('./blog/post/*.md', { eager: true }));
---

<BaseLayout>
    <section class="container list">
        <h1 class="title">Blog Posts</h1>
        <h3>a bunch of mumblings, musings, rants and raves</h3>
        <ul>
            {allPosts.map((post: any) => {
                return <BlogPostCard url={post.url} title={post.frontmatter.title}/>
            })}
        </ul>
    </section>
</BaseLayout>
