---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";

---
<BaseLayout>
    <section class="container list">
        <h1 class="title">Blog</h1>
        <h2>mumblings, musings, rants and raves</h2>
        <p>Coming soon</p>
    </section>
</BaseLayout>