---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
	<section class="container centered">
		<div class="about">
			<div class="avatar"><img src="/spargonaut_icon.jpg" alt="the spargonaut avatar"></div>
			<h1>spargonaut</h1>
			<h2>working really hard</h2>
		</div>
	</section>
</BaseLayout>
