---
---
<nav class="navigation">
    <section class="container">
        <a class="navigation-title" href="/">
            home
        </a>
        <ul class="navigation-list  float-right ">
            <li class="navigation-item">
                <a class="navigation-link" href="/about">about</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="/blog">blog</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="/projects">projects</a>
            </li>
        </ul>
    </section>
</nav>